@font-face {
    font-family: newRocker;
    src: url(NewRocker-Regular.otf);
}

.unigames-brand {
    font-family: newRocker;
    margin-right: -30px;
}

.unigames-big-brand {
    font-family: newRocker;
    font-size: 4.1rem;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

.unigames-big-logo {
    margin-bottom: -30px;
}

.item-list-card {
    height: 220px;
}

.item-detail-img {
    max-height: 400px;
    object-fit: contain;
}

.list-card-image {
    object-fit: scale-down;
    object-position: left;
    max-height: 220px;
    max-width: 220px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.list-card-image-sm {
    object-fit: contain;
    max-height: 110px;
    max-width: 130px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 576px) {
    .image-col {
        display: none;
    }
}

.list-group-item-sm {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.card-body-sm {
    padding-top: 0.75rem;
    padding-bottom: 0.2rem;
}

.card-body-sm .card-title {
    margin-bottom: 0rem;
}

#changelist-filter {
    position: relative;
    top: 0px;
    right: 0px;
}

.btn-card-footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.crispymodelselect2, .crispymodelselect2multiple {
    height: auto;
    padding: 0px;
}

.date-col {
    width: 40%;
}

.stat-card {
    height: 127.6px;
}

.right-label {
    text-align: right;
}

@media (max-width: 576px) {
    .right-label {
        text-align: left;
    }
}

.main {
    flex: 1;
}

.footer {
    background-color: #f5f5f5;
    width: 100%;
}

.footer-container {
    width: auto;
    max-width: 680px;
    padding: 15px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.form-group-sm {
    margin-bottom: 0px;
}

.card-mid-header {
    border-top: 1px solid rgba(0,0,0,.125)
}

.tag-group {
    line-height: 2.8;
}

.half-cell {
    width: 50%;
    border-right: 1px solid #dee2e6;
}

.big-card-columns {
    column-count: 2;
}

@media (max-width: 576px) {
    .big-card-columns {
        column-count: 1;
    }
}