@font-face {
    font-family: newRocker;
    src: url(NewRocker-Regular.otf);
}

.unigames-brand {
    font-family: newRocker;
    margin-right: -30px;
}

.item-detail-card {
    width: 288px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    .item-detail-card {
        width: 50%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

.list-group-item-sm {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.card-body-sm {
    padding-top: 0.75rem;
    padding-bottom: 0.2rem;
}

.card-body-sm .card-title {
    margin-bottom: 0rem;
}

#changelist-filter {
    position: relative;
    top: 0px;
    right: 0px;
}

.btn-card-footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
