@font-face {
    font-family: newRocker;
    src: url(NewRocker-Regular.otf);
}

.unigames-brand {
    font-family: newRocker;
    margin-right: -30px;
}

.item-detail-card {
    max-width: 288px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.item-list-card {
    height: 220px;
}

@media (max-width: 576px) {
    .item-detail-card {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .item-card-img {
        max-width: 288px;
    }
}

.list-card-image {
    object-fit: contain;
    max-height: 220px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.list-card-image-sm {
    object-fit: contain;
    max-height: 110px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 576px) {
    .image-col {
        display: none;
    }
}

.list-group-item-sm {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.card-body-sm {
    padding-top: 0.75rem;
    padding-bottom: 0.2rem;
}

.card-body-sm .card-title {
    margin-bottom: 0rem;
}

#changelist-filter {
    position: relative;
    top: 0px;
    right: 0px;
}

.btn-card-footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.crispymodelselect2, .crispymodelselect2multiple {
    height: auto;
    padding: 0px;
}

