<!-- phylactery/committee.html -->
{% extends 'phylactery/base.html' %}

{% block title %}Committee - {% endblock %}

{% block content %}
<h1 class="mt-3">Committee</h1>
<h3>The Current Unigames Committee</h3>

<p>
    <b>President</b><br/>
    {{ President.0 }}
</p>

<p>
    <b>Vice President</b><br/>
    {{ VicePresident.0 }}
</p>

<p>
    <b>Treasurer</b><br/>
    {{ Treasurer.0 }}
</p>

<p>
    <b>Secretary</b><br/>
    {{ Secretary.0 }}
</p>

<p>
    <b>Librarian</b><br/>
    {{ Librarian.0 }}
</p>

<p>
    <b>Fresher Rep</b><br/>
    {{ FresherRep.0 }}
</p>

<p>
    <b>Ordinary Committee Members</b><br/>
    {% for member in OCM %}
        {{ member }}<br />
    {% endfor %}
</p>

{% if IPP %}
<p>
    <b>Immediate Past President</b><br/>
    {{ IPP.0 }}
</p>
{% endif %}

<p> To contact committee, email to <a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a></p>

<p>Thanks to everyone who came to the AGM to elect the new committee, and the many absentee votes of those that didn't come.<br/>
We'll do our best to make this year a good year for Unigames.</p>

{% endblock %}