<!-- phylactery/committee.html -->
{% extends 'phylactery/base.html' %}

{% block title %}Committee - {% endblock %}

{% block content %}
<h1 class="mt-3">Committee</h1>
<h3>Unigames Committee of 2021</h3>

<p>
    <b>President</b><br/>
    Alistair Langton
</p>

<p>
    <b>Vice President</b><br/>
    Emerald Aindow
</p>

<p>
    <b>Treasurer</b><br/>
    Jackie Shan
</p>

<p>
    <b>Secretary</b><br/>
    Guinevere Sellner
</p>

<p>
    <b>Librarian</b><br/>
    Vikrum Sithambaram
</p>

<p>
    <b>Fresher Rep</b><br/>
    Ethan Gibson
</p>

<p>
    <b>Ordinary Committee Members</b>
    <br/>Alex Bennett
    <br/>Luna
    <br/>Christopher Leak
    <br/>Nina MJ
</p>

<p>
    <b>Immediate Past President</b><br/>
    N/A
</p>

<p> To contact committee, email to <a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a></p>

<p>Thanks to everyone who came to the AGM to elect the new committee, and the many absentee votes of those that didn't come.<br/>
We'll do our best to make 2021 a good year for Unigames.</p>

{% endblock %}