{% extends 'phylactery/base.html' %}

{% block title %}{{ blogpost.title }} - {% endblock %}

{% load markdownify %}

{% block content %}
<div class="card{% if not blogpost.is_published %} border-danger{% endif %}">
    <h1 class="card-header{% if not blogpost.is_published %} border-danger{% endif %}">{{ blogpost.title }}{% if user.is_staff %}<a class="btn btn-outline-secondary float-right btn-lg" href="{% url 'admin:blog_blogpost_change' blogpost.id %}"><i class="bi-pencil-square"></i> Edit this post</a>{% endif %}</h1>
    <h6 class="card-header{% if not blogpost.is_published %} border-danger{% endif %}">by {{ blogpost.author }} <span class="float-right{% if not blogpost.is_published %} text-danger{% endif %}">{{ blogpost.get_pretty_timestamp }}</span></h6>
    <div class="card-body">
        <p class="card-text">{{ blogpost.body|markdownify }}</p>
    </div>
    {% comment %}
    <h5 class="card-header card-mid-header">Tags</h5>
    <div class="card-body">
        <p class="card-text tag-group">
            {% for tag in item.all_tags %}
                <a href="{% url 'library:tag-list' tag.pk %}" role="button" class="btn btn-outline-dark">{{ tag }}</a>
            {% endfor %}
        </p>
    </div>
    {% endcomment %}

</div>

{% endblock %}