{% extends override_base|default:'phylactery/email_base.html' %}

{% load markdownify %}

{% block title %}{{ blogpost.title }}{% endblock %}
{% block email_title %}{{ blogpost.title }}{% endblock %}

{% block preheader %}Unigames News - {{ blogpost.title }}{% endblock %}

{% block content %}
{{ blogpost.body|markdownify }}
<hr>
<a href="{{ protocol }}{{ domain }}{{ blogpost.get_absolute_url }}">View this email in your browser</a>
<p>Regards, <br />
Unigames</p>
{% endblock %}

{% block unsubscribe_footer %}<br> Don't like these emails? <br /> Manage your email preferences <a href="{{ protocol }}{{ domain }}{% url 'members:email-prefs-token' uidb64=uid token=token %}">here</a>.{% endblock %}