{% extends "phylactery/base.html" %}

{% block title %}Member List - {% endblock %}

{% block content %}
{% load admin_list %}
<h2>Member List</h2>
<p>Note: You don't have access to see all member information. If you need information not listed here, please contact committee.</p>
<form class="form-inline mb-2" action="" method="get">
    <label class="mr-2">Filters:</label>
    <label class="sr-only" for="name">Name Search</label>
    <input type="text" class="form-control mr-2" id="name" name="q" placeholder="Name Search" value="{{ cl.params.q }}">
    <button type="submit" class="btn btn-primary mr-2">Filter</button>
    {% if cl.has_filters %}<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#filters-list" aria-expanded="false" aria-controls="filters-list">Show/Hide Filters</button>{% endif %}
</form>
{% if cl.has_filters %}
    <div class="collapse{% if cl.has_active_filters %} show{% endif %}" id="filters-list">
        <div id="changelist-filter" class="card" style="width: 18rem;">
            <div class="card-body card-body-sm">
                <h5 class="card-title">Filters</h5>
                {% if cl.has_active_filters %}
                    <h6 id="changelist-filter-clear"><a href="{{ cl.clear_all_filters_qs }}">&#10006; Clear all filters</a></h6>
                {% endif %}
            </div>
            {% for spec in cl.filter_specs %}
                {% admin_list_filter cl spec %}
            {% endfor %}
        </div>
    </div>
{% endif %}
<table class="table table-responsive table-hover table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Pronouns</th>
            <th scope="col">Fresher?</th>
            <th scope="col">Current Member?</th>
            <th scope="col">Gatekeeper?</th>
        </tr>
    </thead>
    <tbody>
        {% for member in page_obj %}
            <tr>
                <th scope="row"><a href="{% url 'members:profile' pk=member.pk %}">{{ member.preferred_name }}</a></th>
                <td>{{ member.pronouns }}</td>
                <td>{{ member.is_fresher }}</td>
                <td>{{ member.is_financial_member }}</td>
                <td>{{ member.is_gatekeeper }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="mx-auto" style="width: 280px;">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{{ first_page_q }}">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="{{ prev_page_q }}">&larr;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&larr;</span></li>
            {% endif %}

            <li class="page-item active"><span class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span></li>

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{ next_page_q }}">&rarr;</a></li>
            <li class="page-item"><a class="page-link" href="{{ last_page_q }}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&rarr;</span></li>
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
