{% extends "phylactery/base.html" %}

{% block title %}Member List{% endblock %}

{% block content %}
{% load admin_list %}
<h2>Member List</h2>
<p>Note: You don't have access to see all member information. If you need information not listed here, please contact committee.</p>
<form class="form-inline mb-2" action="" method="get">
    <label class="mr-2">Filters:</label>
    <label class="sr-only" for="name">Name Search</label>
    <input type="text" class="form-control mr-2" id="name" name="q" placeholder="Name Search" value="{{ cl.params.q }}">
    <button type="submit" class="btn btn-primary mr-2">Filter</button>
    {% if cl.has_filters %}<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#filters-list" aria-expanded="false" aria-controls="filters-list">Show/Hide Filters</button>{% endif %}
</form>
{% if cl.has_filters %}
    <div class="collapse{% if cl.has_active_filters %} show{% endif %}" id="filters-list">
        <div id="changelist-filter" class="card" style="width: 18rem;">
            <div class="card-body card-body-sm">
                <h5 class="card-title">Filters</h5>
                {% if cl.has_active_filters %}
                    <h6 id="changelist-filter-clear"><a href="{{ cl.clear_all_filters_qs }}">&#10006; Clear all filters</a></h6>
                {% endif %}
            </div>
            {% for spec in cl.filter_specs %}
                {% admin_list_filter cl spec %}
            {% endfor %}
        </div>
    </div>
{% endif %}
<table class="table table-responsive table-hover table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Pronouns</th>
            <th scope="col">Fresher?</th>
            <th scope="col">Current Member?</th>
            <th scope="col">Gatekeeper?</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr>
                <th scope="row"><a href="{% url 'members:profile' pk=member.pk %}">{{ member }}</a></th>
                <td>{{ member.pronouns }}</td>
                <td>{{ member.is_fresher }}</td>
                <td>{{ member.is_financial_member }}</td>
                <td>{{ member.is_gatekeeper }}</td>
            </a>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
