<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <p>User accounts are only available to Unigames Gatekeepers.</p>
    <p>If you are a Unigames Gatekeeper, and wish to create an account, you may begin the account creation process by entering your email address below.</p>
    {% if message %}<p><strong>{{ message|linebreaks }}</strong></p>{% endif %}
    <form action="/register/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>