{% extends "phylactery/base.html" %}

{% block content %}

<div class="container" style="max-width: 576px;">
    <h2>Sign someone up! Are they a:</h2>
    <a href="{% url 'members:signup-new' %}" role="button" class="btn btn-primary btn-large btn-block">Fresher</a>
    <a href="{% url 'members:signup-old-start' %}" role="button" class="btn btn-secondary btn-large btn-block">Non-Fresher</a>
    <p>Unsure? Search for them in the nonfresher section first!</p>
    <p><b>Note: </b>Some older members won't be on the system yet.
        Just sign them up as freshers and manually untick the "Fresher" checkbox.</p>
</div>

{% endblock %}
